// Copy this file to config.h and adjust for your hardware.

#define DEVICE_NAME    "woybangun"

#define STRIP_ADDRESSABLE   1
#define STRIP_ANALOG_PWM    0

#define LED_PIN    2
#define LED_COUNT  60

#define STRIP_BUDGET_MA  300

#define PIN_R  -1
#define PIN_G  -1
#define PIN_B  -1
