<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAlarmKitUsageDescription</key>
	<string>We’ll schedule alerts for the alarms you create in this app.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>woybangun turns on your wake light before the alarm goes off.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
